host all all all scram-sha-256
{% if postgres_manage_replication | bool %}
{% for cidr in postgres_replication_hba_cidrs %}
host replication {{ postgres_replication_user }} {{ cidr }} scram-sha-256
{% endfor %}
{% endif %}
